body {
  box-sizing:border-box;
  font-family: 'Proza Libre', sans-serif;
}
h1 {
  color:white;
}
.row1 {
  padding-top:40px;
  margin-top: 15px;
  width:85.7%;
  height:200px;
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding-left:65px;
}
.row1 .inside .text .button {
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
}
.text {
  width:350px;
  font-size:12px;
}
.button {
  color:white;
  width:125px;
  vertical-align:middle;
}

.row2col1 {
  background-image: url("../images/bg.jpg");
  background-size:cover;
  display:inline-block;
  height:200px;
  width:30%;
  padding-left:65px;
}
.row2col2 {
  background-image: url("../images/bg.jpg");
  background-size:cover;
  height:200px;
  width:50%;
  display:inline-block;
  padding-left:65px;
}
.row2col1 .inside .text {
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
}
.row2col2 .inside .text {
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
}

.row3col1 {
  background-image: url("../images/bg.jpg");
  padding-left:65px;
  background-size:cover;
  display:inline-block;
  height:200px;
  width:50%;
}
.row3col2 {
  background-image: url("../images/bg.jpg");
  width:30%;
  padding-left:65px;
  background-size:cover;
  height:200px;
  display:inline-block;
}
.row3col1 .inside .text {
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
}

.row4col1 {
  background-image: url("../images/bg.jpg");
    background-size:cover;
  display:inline-block;
    height:200px;
  width:30%;
    padding-left:65px;
}
.row4col2 {
  background-image: url("../images/bg.jpg");
    background-size:cover;
  width:50%;
    height:200px;
  display:inline-block;
    padding-left:65px;
}
.row4col1 .inside .text {
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
}

.row5 {
  width:85.7%;
  height: 200px;
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding-left:65px;
  display:inline-block;
}
.row5 .inside .text .button{
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
  width:auto;
}
.row6{
  width:86.1%;
  height:200px;
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding-left: 60px;
  display:inline-block;
}
.row6 .first input{
  margin:0 auto;
  padding-left:65px;
  display: inline-block;
  width:20%;
}
.row6 .second{
  padding-top: 10px;
  padding-left: 65px;

}

.inside{
  width: 80%;
  margin-bottom: 10px;
  border-bottom: solid white 1px;
}
.button{
  border: solid white 1px;
  display:inline-block;
}
.text{
  color: white;
  display:inline-block;
}

.nav-div1{
  display:inline-block;
  width: 45%;
  text-align: left;
}
.nav-menu{
  display: inline-block;
  width: 45%;
  text-align: right;
}
.nav{
  position: fixed;
  top: 0;
  left:0;
  right:0;

    width:100%;
    height: 50px;
    margin-bottom: 10px;
}
